body {
  background-color: #f9fbff;
}

.bg-default {
  background-color: #e9eef8;
}

#navbar {
  background-color: #e4eeff;
  box-shadow: none;
}

.nav-item {
  min-width: 50px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  --dark-grey: #414960;
}

.theme-hope-content a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .vp-toggle-navbar-button {
    display: flex !important;
  }

  .vp-navbar-center {
    display: none;
  }

  #nav-screen,
  .vp-nav-screen-links {
    display: block;
  }
}
